T2L/Lookup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
            <xs:element name="lookup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lookupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="lookupRequest">
        <wsdl:part name="parameters" element="ns:lookup"/>
    </wsdl:message>
    <wsdl:message name="lookupResponse">
        <wsdl:part name="parameters" element="ns:lookupResponse"/>
    </wsdl:message>
    <wsdl:portType name="LookupPortType">
        <wsdl:operation name="lookup">
            <wsdl:input message="ns:lookupRequest" wsaw:Action="urn:lookup"/>
            <wsdl:output message="ns:lookupResponse" wsaw:Action="urn:lookupResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LookupSoap11Binding" type="ns:LookupPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="lookup">
            <soap:operation soapAction="urn:lookup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LookupSoap12Binding" type="ns:LookupPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="lookup">
            <soap12:operation soapAction="urn:lookup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LookupHttpBinding" type="ns:LookupPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="lookup">
            <http:operation location="lookup"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Lookup">
        <wsdl:port name="LookupHttpSoap11Endpoint" binding="ns:LookupSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Lookup"/>
        </wsdl:port>
        <wsdl:port name="LookupHttpSoap12Endpoint" binding="ns:LookupSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Lookup"/>
        </wsdl:port>
        <wsdl:port name="LookupHttpEndpoint" binding="ns:LookupHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Lookup"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
